<body>



	<div class="limiter">

		<div class="container-login100"
			style="background-image: url('https://bodytech.com.co/uploads/post/eeaac56b16064ec7a70ff7e85a438ef9/entrenar-seguro-2.jpg');">
			<h5 style="color: white;"></h5>
			<div class="wrap-login100 p-t-190 p-b-30">
				<div class="login100-form-avatar" style="margin-bottom: 30px;">
					<img src="../../../assets/images/logo.png" alt="AVATAR">

				</div>

				<h1  style="font-size: 20px; color: white; text-align: center; margin-bottom: 30px;  ">
					Estado 
					<h1 *ngIf="isActive" style="font-size: 19px; color: rgb(153, 255, 0); text-align: center; ">
						  Activo ({{user.email}})
					</h1>
					<h1 *ngIf="!isActive" style="font-size: 19px; color: rgb(255, 0, 13); text-align: center; ">
						Desconectado
				  </h1>
				</h1>

				<h1 style="font-size: 35px; color: white; text-align: center; margin-bottom: 60px; margin-top: 0px;">
					Inicar sesion con:
				</h1>
			
				



				<!--
                <h4 style="font-size: medium; color: white; text-align: center; margin-bottom: 30px; margin-top: 40px;" >
                    Debido a las politicas de seguridad entre el servicio nacional de 
                    aprendizaje Sena junto a I-FIT, el acceso solo esta permitido con la cuenta institucional
				</h4>
-->

				<form class="login100-form validate-form">


					<a (click)="facebook()" class="btn-face m-b-20">
						<img src="https://www.trebolmobiliario.com/gif/trebol2019/botonfacebookuno.png"
							style="height: 45px; margin-right: 5px;">
						<h2> Facebook</h2>
						
					</a>

					<a (click)="login()" class="btn-google m-b-20">
						<img src="../../../assets/images/icon-google.png">
						<h2>Google</h2>
					</a>



					<div class="container-login100-form-btn p-t-10" style="margin-top: 20px;">
						<button (click)="enter()" class="login100-form-btn">
							<h2>Entrar</h2>
						</button>
					</div>



					<div class="text-center w-full">
						<a class="txt1" (click)="login()">
							Aún no tienes una cuenta?
							<i class="fa fa-long-arrow-right"></i>
						</a>
					</div>

					<div (click)="logOut()" class="text-center w-full">
						<a class="txt1">
							Salir
							<i class="fa fa-long-arrow-right"></i>
						</a>
					</div>


				</form>
			</div>
		</div>
	</div>





	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

