<nav class="navbar navbar-expand-lg navbar-dark bg-dark  navbar sticky-top"  id="navBar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <a class="navbar-brand" (click)="Init()" style="margin-left: 40px;"> <img src="../../../assets/images/logo.png" style="width: 70px;" id="logo"></a>
    
  
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link"(click)="Init()" ><h1>I -FIT</h1> <span class="sr-only">(current)</span></a>
        </li>

  
        <li class="nav-item ">
          <a class="nav-link" ><h5>Alimentacion</h5> <span class="sr-only">(current)</span></a>
        </li>

        

        <li class="nav-item ">
          <a class="nav-link" ><h5>Mis rutinas</h5> <span class="sr-only">(current)</span></a>
        </li>

        

        <li class="nav-item ">
          <a class="nav-link" (click)="Machines()"><h5>Maquinas</h5> <span class="sr-only">(current)</span></a>
        </li>

        

        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        
        
        <button (click)="signIn()" class="btn btn-warning my-2 my-sm-0" style="margin-right: 35px;">SignIn</button>
        
      </form>
    </div>
    
  </nav>


