<form>
    <div class="form-group">
      <input type="email" class="form-control" id="emailAprendiz" placeholder="Correo">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="constraseñaAprendiz" placeholder="Contraseña">
    </div>
    <div class="form-group">
        <a class="form-text text-danger" href="#">Olvido la Contraseña?</a>
    </div>
    <hr>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        <button type="submit" class="btn btn-link">Registrar</button>
    </div>
</form>
