.table{
    background-color: lightblue;
}

#table{
    margin-top: 10px;
    padding: 10px;
    
}

#titulo{
    margin-top: 65px;
    text-align: center;
    color: #FF7906;
    font-family: 'Anton', sans-serif;
    font-size: 6vh;
}

