<app-nav></app-nav>

<h1 id="titulo">Aprendices </h1>

<div class="filter" style="text-align: center; background-color: whitesmoke; margin-top: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <br>
        Todos
        <br><br><br>
        <button  (click)="allApprentices()" mat-fab flex="70"  color="accent" class="materialButton">
          <mat-icon>all_inclusive</mat-icon>
        </button>
        <br>
      </div>
      <div class="col-sm">
        <br>
        Finalizadas
        <br><br><br>
        <button  (click)="notFinishedApprentices()" mat-fab flex="70"  color="accent" class="materialButton">
          <mat-icon>fitness_center</mat-icon>
        </button>
        <br>
      </div>
      <div class="col-sm">
        <br>
        Nuevos
        <br><br><br>
        <button (click)="newApprentices()" mat-fab flex="70"  color="accent" class="materialButton">
          <mat-icon>fiber_new</mat-icon>
        </button>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container" id="principal" style="margin-top: 35px;">

  

  <nav aria-label="breadcrumb">
    
    <ol class="breadcrumb">
      
      <li class="breadcrumb-item"><button class="btn btn-info btn-sm" (click)="allApprentices()">Todos</button></li>
      <li class="breadcrumb-item"><button class="btn btn-info btn-sm" id="notFinished" value="Finished"  (click)="notFinishedApprentices()">Rutinas Finalizadas</button></li>
      <li class="breadcrumb-item"><button class="btn btn-info btn-sm" id="new" value="new" (click)="newApprentices()">Nuevos aprendices</button></li>
    </ol>
  </nav>

<div class="container" id="table">

  <!--
  <div class="input-group flex-nowrap">
    <div class="input-group-prepend">
      <span class="input-group-text" id="addon-wrapping">#</span>
    </div>
    <input type="text" (keyup)="filtrar($event)" class="form-control" placeholder="Documento" aria-label="Username" aria-describedby="addon-wrapping">
  </div>
  -->


<p>{{searchDocument}}</p>  

  <br>
  <br>
  
      <select class="form-control" (change)="capturar($event)" >
        <option selected disabled>JORNADA</option>
        <option value="MORNING">Mañana</option>
        <option value="AFTERNOON">Tarde</option>
        <option value="NIGHT">Noche</option>
        <option value="WEEKEND">Fin de semana</option>
      </select>

      
    

    <div *ngIf="all" class="table-responsive-sm" style="height: 100%" style="width: 100%">
      <table class="table" >
        <thead>
          <tr class="text-center">
            <th>DOCUMENTO</th>
            <th>NOMBRES</th>
            <th>ESTADO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let apprentice of apprentices" class="text-center">
            <td (click)="Edit(apprentice)">{{ apprentice.document }}</td>
            <td>{{ apprentice.name }}</td>
            <td>{{apprentice.routine.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="finished" class="table-responsive-sm" style="height: 100%" style="width: 100%">
      <table class="table table-danger">
        <thead>
          <tr class="text-center">
            <th>DOCUMENTO</th>
            <th>NOMBRES</th>
            <th>ESTADO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let apprentice of apprenticesFinished" class="text-center">
            <td (click)="Edit(apprentice)">{{ apprentice.document }}</td>
            <td>{{ apprentice.name }}</td>
            <td>{{apprentice.routine.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="new" class="table-responsive-sm" style="height: 100%" style="width: 100%">
      <table class="table table-success">
        <thead>
          <tr class="text-center">
            <th>DOCUMENTO</th>
            <th>NOMBRES</th>
            <th>ESTADO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let apprentice of apprenticesNew" class="text-center">
            <td (click)="Edit(apprentice)">{{ apprentice.document }}</td>
            <td>{{ apprentice.name }}</td>
            <td>{{apprentice.routine.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
</div>

</div>

<app-footer></app-footer>


