<footer>
       
    <div class="container-footer-all" style="margin-top: 30px;">
     
         <div class="container-body">

             

             <div class="colum1">

                 <h1>Redes Sociales</h1>
                 <hr>

                 <div class="row">
                     <img src="../../../assets/images/facebook.png">
                     <label>Siguenos en Facebook</label>
                 </div>
                 <div class="row">
                     <img src="../../../assets/images/twitter.png">
                     <label>Siguenos en Twitter</label>
                 </div>
                 <div class="row">
                     <img src="../../../assets/images/instagram.png">
                     <label>Siguenos en Instagram</label>
                 </div>
                


             </div>

             <div class="colum2">
                <h1>Acerca de I-FIt</h1>
                <hr>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, quasi modi! Vel soluta laboriosam assumenda. 
                   Vero quas eos doloribus ipsam vitae, distinctio tempora sunt voluptatum tempore dolore! Aspernatur, facilis asperiores.</p>

            </div>

             <div class="colum3">

                 <h1>Contactos</h1>
                 <hr>

                 <div class="row2">
                     <img src="../../../assets/images/house.png">
                     <label>141- Sector, Cra. 45 Sur #1255, Ibagué, Tolima</label>
                 </div>

                 <div class="row2">
                     <img src="../../../assets/images/smartphone.png">
                     <label>(8) 2709600</label>
                 </div>

                 <div class="row2">
                     <img src="../../../assets/images/contact.png">
                      <label>I-fit@gmail.com</label>
                 </div>

             </div>

         </div>
     
     </div>
     
     <div class="container-footer">
            <div class="footer">
                 <div class="copyright">
                     © 2020 Todos los Derechos Reservados | <a href="">I - FIT ©</a>
                 </div>

                 <div class="information">
                     <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                 </div>
             </div>

         </div>
     
 </footer>