.materialButton{
    outline:none;
}

.contenedor{
    margin-top: 100px;
}

#carouselInit{
    width: 100%;
    height: 45vw;
    margin-bottom: 4%;
}

.carousel-inner, .carousel-item, img{
    width: 100%;
    height: 100%;
}

/* LETRA */
.video > .row > .col-md-6 > .col > h1{
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
    margin-left: 3vw;
}

.video > .row > .col-md-6 > .col > #letraNaranja{
    color: #FF7906;
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
    margin-left: 3vw;
}

/* LINEA */
hr{
    border-color: rgba(0, 0, 0, 0.363);
    width: 30vw;
    float: left;
    margin-left: 3vw;
}

/* VIDEO */
.video > .row{
    width: 100%;
}

.video{
    margin-bottom: 4%;
}

.video > .row > .col-md-6 > .col > iframe{
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    width: 100%;
    height: 350px;
}

/* RESPONSIVE VIDEO */
@media (max-width: 760px){
    .contenedor{
        margin-top: 100px;
    }
    .video > .row > .col-md-6 > .col > iframe{
        width: 100%;
        height: 150px;
        margin-left: 15px;
        margin-top: -40px;
    }

    .video > .row > .col-md-6 > .col > h1{
        font-size: 22px;
        text-align: center;
    }    
    .video > .row > .col-md-6 > .col > #letraNaranja{
        font-size: 22px;
        text-align: center;
        margin-top: -30px;
    }
    
    hr{
        width: 100%;
        text-align: center;
        margin-top: -10px;
    }
        
}

/* COLUMNAS */
.card{
    border:none;    
}

#letraNaranja{
    color: #FF7906;
    font-family: 'Anton', sans-serif;
}

p{
    font-size: larger;
}

.section3{
    padding: 45px;
    margin-top: -25px;
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-blend-mode: soft-light;
    background-image: url('https://image.freepik.com/foto-gratis/borrosa-fondo-gimnasio-fitness-concepto-ejercicio-fitness-banner_36325-905.jpg');
}

.example-card { 
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}


